# Игнорировать виртуальное окружение
.venv/
myvenv/

# Игнорировать файлы настроек
.env

# Игнорировать файлы баз данных
*.sqlite3

# Игнорировать файлы логов
*.log

# Игнорировать файлы скрытые системой
.DS_Store

# Игнорировать файлы с результатами сборки
__pycache__/
*.pyc

# Игнорировать файлы IDE
.idea/
.vscode/